/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
}

/* HEADER SECTION STYLES */

#landing-area {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 0, 0, 0.1)),
    url('images/landing-img.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  color: aliceblue;
}

#landing-area h1 {
  font-size: 50px;
  line-height: 1.2;
}

#landing-area span {
  color: red;
}

#landing-area h2 {
  font-size: 35px;
  font-weight: normal;
}

.logos a > i {
  margin-top: 20px;
  padding: 0 20px;
  color: honeydew;
}

#header-btn {
  color: red;
  text-decoration: none;
  margin-top: 60px;
  font-size: 22px;
  border: red 1px solid;
  padding: 10px 60px;
  border-radius: 10px;
}

/* NAVIGATION BAR STYLES */

nav {
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.4);
}

nav ul {
  display: flex;
}

nav ul > li {
  list-style: none;
  margin: 10px 15px;
}

nav ul > li > a {
  text-decoration: none;
  color: whitesmoke;
}

nav ul > li > a:hover {
  color: red;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* ABOUT ME SECTION STYLES */

#about-me {
  height: 100vh;
}
